<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Grip{% endblock %}</title>
    <link rel="preload" href="/static/fonts/bridgeportsans-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/bridgeportsans-semibold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/static/css/style.css?v=41">
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>
